.services{
    padding: 50px 0;
    background-image: url(https://i.ibb.co/XSY7vHW/bg-gray-in.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.service-logo svg {
    background-color: #c59d5f;
    color: white;
    font-size: 80px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
}
.service-logo svg:hover{
    background: black;
    padding:10px;
    border: 2px solid white;
}
.service-name{
    font-family: 'Recursive', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
}