.booking{
    /* background-color: rgb(218 173 68); */
    background-image: url(../../images/book.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 80px 10px;
}
.booking form{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.form-control, .form-select{
    margin-top: 25px;
    background-color: #040404 !important;
    color: white !important;
}

.form-select {
    padding: 13px 10px;
}
.form-control {
    padding: 25px 10px !important;
}
form span{
    color: red;
    font-size: 14px;
    margin-left: 5px;
}
@media screen and (max-width:425px){
    .booking form{
        width:90%;
        margin:auto;
    }
}